@tailwind base;
@tailwind components;
@tailwind utilities;

th {
  text-align: center !important;
}

td {
  vertical-align: middle;
}

.team-selector {
  text-align: center;
}

.player-input {
  text-align: center;
}